.profile {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 34px 0 20px;
  display: flex;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
  max-width: 190px;
  max-height: 190px;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #000;
  opacity: 50%;
  border-radius: 8px;
  border-style: none;
  visibility: hidden;
}

.profile__avatar-pencil-icon {
  margin-right: 10.27px;
  padding-bottom: 12px;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  cursor: pointer;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
  color: #ffffff;
  padding-bottom: 12px;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  color: #212121;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 12px;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #212121b3;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  margin-top: auto;
  padding: 0;
  display: flex;
  border-style: none;
  background-color: transparent;
  color: #212121;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__pencil-icon {
  margin-right: 8px;
}

.profile__add-btn {
  background-color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fcf5e5;
  margin-top: auto;
  margin-left: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  border-style: none;
  transition: opacity 0.3s ease;
}

.profile__add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__plus-icon {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding: 20px 0 20px;
  }

  .profile__avatar-container {
    margin: 0 auto 12px;
    max-height: 80px;
  }

  .profile__avatar-btn {
    visibility: visible;
    margin: 52px;
    border-radius: 6px;
    max-width: 23.34px;
    max-height: 23.34px;
    background-color: #212121;
  }

  .profile__avatar-pencil-icon {
    position: absolute;
    margin: 0;
    top: 4px;
    left: 4px;
    right: 4px;
    padding-bottom: 0;
  }

  .profile__avatar-btn::after {
    content: "";
    padding-bottom: 0;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    justify-content: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
